.cartEmpty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 55vh;
  margin: 2em 0;
  &__icon {
    font-size: 3em;
  }
  &__heading {
    margin: 0.8em 0 1em;
  }
  &__link {
    border: 1px solid #000;
    padding: 8px 10px;
  }
}
.cart {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 55px;
  h1 {
    text-align: center;
    margin: 2em 0;
    font-weight: 600;
  }
  &__products {
    color: #3d4246;
  }
  .cartHeader {
    display: grid;
    grid-template-columns: 60% 1fr auto 1fr;
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 2em;
    font-weight: 400;
    padding: 27.5px 0;
    .cartHeader__product {
      padding: 0 0.5em;
    }
    .cartHeader__price {
      padding: 0 0.5em;
    }
    .cartHeader__quantity {
      padding: 0 0.5em;
      text-align: center;
    }
    .cartHeader__total {
      padding: 0 0.5em;
      text-align: right;
    }
  }
  .cartProduct {
    display: grid;
    grid-template-columns: 60% 1fr auto 1fr;
    align-items: center;
    border-bottom: 1px solid #dee2e6;
    padding: 1em 0;
    &__product {
      display: grid;
      grid-template-columns: 100px 1fr;
    }
    &__image {
      vertical-align: middle;
    }
    &__info {
      padding-right: 1em;
      padding-left: 1em;
    }
    &__title {
      font-size: 1.125em;
      font-weight: 400;
      color: #000;
      margin-bottom: 0.2em;
    }
    &__description {
      color: #3d4246;
      padding: 5px 0;
      font-size: 0.875em;
      font-style: italic;
    }
    &__remove {
      background-color: transparent;
      color: #3d4246;
      border: 1px solid #3d4246;
      padding: 8px 10px;
      font-size: 0.75em;
      font-weight: 600;
      letter-spacing: 0.96px;
      border-radius: 2px;
      margin-top: 0.2em;
      text-transform: uppercase;
      cursor: pointer;
    }
    &__quantity {
      text-align: center;
      padding: 0 0.5em;
      input {
        text-align: center;
        width: 60px;
        padding: 10px 5px;
        -webkit-appearance: none;
        -moz-appearance: none;
        border: 1px solid #949494;
        background-color: #fff;
        color: #000;
        max-width: 100%;
        line-height: 1.2;
        border-radius: 2px;
        font-size: 16px;
      }
    }
    &__price {
      span {
        word-break: break-all;
      }
    }
    &__totalPrice {
      text-align: right;
      span {
        word-break: break-all;
      }
    }
    &__price > p,
    &__quantity > p,
    &__totalPrice > p {
      display: none;
      margin-bottom: 0.8em;
    }
  }
  .cartCheckout {
    max-width: 280px;
    margin: 2.5em 0 2.5em auto;
    &__additionalCosts {
      margin-bottom: 2em;
      font-size: 0.9em;
    }
    &__info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #000;
      margin-bottom: 15px;
      padding-bottom: 10px;
    }
    &__text {
      color: #3d4246;
    }
    &__price {
      font-size: 1.15em;
    }
    &__buttons {
      display: flex;
      justify-content: space-between;
    }
    &__shop {
      border: 1px solid #000;
      color: #000;
      text-transform: uppercase;
      width: 100%;
      text-align: center;
      font-size: 0.85em;
      padding: 8px 10px;
    }
    &__checkout {
      background-color: #000;
      color: #fff;
      border: none;
      text-transform: uppercase;
      width: 100%;
      text-align: center;
      font-size: 0.85em;
      padding: 8px 10px;
      cursor: pointer;
    }
  }
}
@media only screen and (max-width: 350px) {
  .cart {
    .cartProduct {
      &__product {
        display: block;
      }
      &__info {
        padding: 1em 0;
      }
    }
    .cartCheckout {
      max-width: 100%;
    }
  }
}
@media only screen and (max-width: 768px) {
  .cart {
    padding: 3%;
    .cartHeader {
      display: none;
    }
    .cartProduct {
      grid-template-columns: repeat(3, 1fr);
      grid-row-gap: 1em;
      &__product {
        grid-column: span 3;
      }
      &__quantity input {
        padding: 0;
        width: 45px;
      }
      &__price,
      &__quantity,
      &__totalPrice {
        min-height: 66px;
        p {
          display: block;
        }
      }
    }
  }
}
