@import "../../variables.scss";

.checkout__radio-wrapper {
  border-top: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
  display: flex;
  align-items: center;
  &:first-of-type {
    border-radius: 5px 5px 0 0;
  }
  &:last-of-type {
    border-radius: 0 0 5px 5px;
    border-bottom: 1px solid #d9d9d9;
  }
  .checkout__radio {
    margin-left: 16px;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    transition: all 0.2s ease-in-out;
    position: relative;
    cursor: pointer;
    vertical-align: -4px;
    border: 1px solid #d9d9d9;
    appearance: none;
    &:checked {
      border: 7px solid $checkoutActiveColor;
      & + .checkout__label {
        color: $checkoutActiveColor;
      }
    }
  }
  .checkout__label {
    color: #545454;
    padding: 16px;
    flex: 1;
    display: flex;
    justify-content: space-between;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    i {
      margin-right: 5px;
    }
  }
}
