@import "../variables.scss";

.newsletter {
  background-color: #faf3ee;
  padding: 3em $pagePadding;
  text-align: center;
  &__title {
    text-transform: uppercase;
    font-size: 1.3em;
    margin-bottom: 0.5em;
    letter-spacing: 2px;
    line-height: 1.1em;
    font-weight: 600;
    span {
      font-size: 2em;
    }
  }
  &__text {
    margin-bottom: 3em;
    line-height: 24px;
  }
  &__form {
    display: flex;
    justify-content: center;
  }
  &__input {
    width: 100%;
    max-width: 450px;
    border-radius: 2px;
    padding: 10px 18px;
    border: 1px solid #949494;
    background-color: #fff;
    color: #000;
    font-size: 1em;
    min-height: 46px;
    min-width: 185px;
  }
  &__button {
    background-color: $primaryColor;
    border-radius: 2px;
    padding: 10px 18px;
    letter-spacing: 0.08em;
    white-space: normal;
    font-size: 0.875em;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    min-height: 46px;
    cursor: pointer;
  }
  @media only screen and (max-width: 530px) {
    &__title {
      span {
        font-size: 1.3em;
      }
    }
    &__input {
      min-width: auto;
    }
  }
}
