.primaryNavigation {
  transition: transform 650ms ease;
  background-color: rgba(255, 255, 255, 0.96);
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    li {
      list-style: none;
      padding: 8px;
      a {
        padding: 0 0.5em;
        text-decoration: none;
        color: #000;
        font-size: 16px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    ul.socials {
      display: flex;
      flex-wrap: nowrap;
      li {
        padding: 0;
      }
      a {
        font-size: 21px;
      }
    }
    @media only screen and (min-width: 985px) {
      padding: 0 1.8em;
      li:first-child {
        flex-grow: 1;
        text-align: right;
      }
      ul.socials {
        flex-grow: 1;
        text-align: right;
      }
    }
  }
  @media only screen and (max-width: 768px) {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    &--open {
      transform: translateY(100%);
    }
    &__list {
      flex-direction: column;
      li {
        display: block;
        width: 100%;
        border-bottom: 1px solid #dee2e6;
        padding: 0;
        a {
          padding: 1em 2em;
          display: block;
          width: 100%;
        }
      }
      ul.socials {
        width: 100%;
        border-bottom: 1px solid #dee2e6;
        padding: 0 20px;
        li {
          width: fit-content;
          border: none;
          padding-right: 1em;
          a {
            padding: 10px 0.5em;
            font-size: 24px;
          }
        }
      }
    }
  }
}
