@import "../variables.scss";

.product {
  text-align: center;
  max-width: 585.5px;
  &__image {
    vertical-align: middle;
    object-fit: contain;
  }
  &__info {
    padding-top: 5px;
  }
  &__title {
    font-size: 1.08em;
    color: #000;
    letter-spacing: 0.4px;
    margin-bottom: 5px;
  }
  &__price {
    color: #1c1d1d;
    font-size: 0.95em;
  }
  &__description {
    padding: 0.5em 0;
  }
  &__button {
    display: block;
    text-align: center;
    margin-top: 10px;
    background-color: $primaryColor;
    color: #fff;
    border: none;
    text-transform: uppercase;
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
  }
}
.product.productList {
  display: grid;
  grid-template-columns: 180px 1fr;
  text-align: left;
  .product__info {
    padding: 0.8em 0.8em 0 0.8em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  @media only screen and (max-width: 420px) {
    grid-template-columns: 130px 1fr;
    .product__info {
      padding: 0.5em 0.5em 0 0.5em;
    }
  }
  @media only screen and (max-width: 360px) {
    grid-template-columns: 1fr;
    .product__info {
      padding: 1em 0 0 0;
    }
  }
}
