@import "../variables.scss";

.siteHeader {
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5em;
  border-bottom: 1px solid #dee2e6;
  position: relative;
  z-index: 10;
  &__announcement {
    background-color: $primaryColor;
    font-size: 1em;
    font-weight: 500;
    padding: 0.8em;
    text-align: center;
    z-index: 10;
  }
  &__navigation {
    z-index: 10;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
    padding: 2em 2em 1em;
  }
  &__logo {
    grid-column: 2/3;
    justify-self: center;
    padding: 0 0.5em;
    font-size: 2.4em;
    font-weight: 500;
    img {
      max-width: 250px;
    }
  }
  &__menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    a,
    button {
      background-color: transparent;
      border: none;
      margin-left: 0.5em;
      padding: 0.4em 0.5em;
      cursor: pointer;
      font-size: 1.33em;
      color: #000;
    }
  }
  &__cart {
    position: relative;
    &-count {
      position: absolute;
      top: 0;
      right: 0;
      text-align: center;
      background-color: $primaryColor;
      font-size: 12px;
      font-weight: 600;
      padding: 0.2em;
      height: 20px;
      width: 20px;
      border-radius: 50%;
    }
  }
  &__mobileMenu {
    display: none;
  }
  @media only screen and (max-width: 768px) {
    border-bottom: none;
    padding: 0;
    &__mobileMenu {
      display: block;
    }
    &__navigation {
      display: flex;
      border-bottom: 1px solid #dee2e6;
      padding: 1.5em 1em 1em;
    }
    &__logo {
      padding: 0;
    }
  }
}
