.imageSlider {
  overflow: hidden;
  .slick-dots {
    bottom: 20px;
    button::before {
      color: #fff !important;
    }
  }
}

@media only screen and (min-width: 1280px) {
  .slick-slide div div img {
    height: calc(100vh - 172.7px);
    max-height: 800px;
    width: auto;
    margin: 0 auto;
  }
}
.slick-slide div {
  outline: none;
}
.slick-slider {
  position: relative;
  .slick-list {
    // border-radius: 10px;
    div {
      vertical-align: middle;
    }
  }
}
