$primaryFont: "Work Sans", sans-serif;
$pagePadding: 2em;
$primaryColor: #98c4be;
$checkoutActiveColor: #c5aa76;
$checkoutTextColor: #737373;

.slideInUp {
  animation: slideInUp 1.5s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
}
.slideOutDown {
  animation: slideOutDown 1.5s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
}
@keyframes slideOutDown {
  to {
    opacity: 0;
    transform: translateY(80px);
  }
}
@keyframes slideInUp {
  from {
    opacity: 0;
    transform: translateY(80px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
