.cookieConsent {
  background: rgb(255, 255, 255);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
  font-size: 1em;
  box-shadow: rgb(0 0 0 / 12%) 0px 0px 6px;
  border-radius: 5px;
  gap: 8px;
  &__icon {
    color: rgb(214, 162, 82);
    font-size: 1.1em;
    margin-right: 8px;
  }
  &__link {
    white-space: nowrap;
    border-bottom: 1px solid rgb(45, 45, 45);
  }
  &__button {
    background: rgb(5, 0, 97);
    color: rgb(255, 255, 255);
    border-radius: 0px;
    cursor: pointer;
    border: none;
    font-size: 1em;
    white-space: nowrap;
    max-width: 424px;
    padding: 11px 22px;
  }
  @media only screen and (max-width: 768px) {
    flex-wrap: wrap;
  }
}
